@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Rubik&display=swap');
.navbar {
    background: rgba(255, 255, 255, 0.8);
    font-family: roboto;
}

.jumbotron {
  background-image: url(./img/obat.jpg) ;
  height: 130vh;
  background-position: right;
  background-size: cover;
  padding-top: 3rem;
 
}

.display-4 {
  font-family: roboto;
  font-size: 30px;
  color: aliceblue;
  text-align: left;
  padding-left: 150px;
  padding-top: 50px;
}

.lead {
  font-family: roboto;
  text-align: left;
  padding-left: 150px;
  color: aliceblue;
}
.p-3 {
  position: absolute;
  width: 1200px;
  height: 700px;
  left: 35px;
  margin-left: 40px;
  top: 130px;
  
  transform: translate(0.8);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.col{
  margin-top: 60px;
}

.card{
    background-color: #A7D8E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


h5{
  font-size: 16px;
  font-family: roboto;
  color: #000;
  margin-bottom: -50px;
  font-weight: bold;
  margin-bottom: 50px;
}
